*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white
}

body{
    background-image: url("../../images/backgroundLp.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right;
    
}
.container1{
    background-color: $background-color;
    width: 450px;
    height: auto;
}
.btn{
    margin: 5px 0;
    border: $button-color;
    
    &:hover{
        background-color: $button-color;
    }
}


// C:\Users\rayel\OneDrive\Área de Trabalho\Diego\landing_obc_teste\landing_obc_teste\images\backgroundLp.png