*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white
}

body{
    background-image: url("../images/backgroundLp.png");
    background-repeat: no-repeat;
    background-position: right;
}


// C:\Users\rayel\OneDrive\Área de Trabalho\Diego\landing_obc_teste\landing_obc_teste\images\backgroundLp.png